body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#drawing-area {
  width: 640px;
  height: 480px;
  padding: 10px;
  background-color: gray;
}

#can {
  background-color: white;
}

#palette-area {
  width: 660px;
  height: 100px;
  padding: 10px;
}

.palette {
  width: 30px;
  height: 30px;
  margin: 10px;
  float: left;
}

.palette-button {
  height: 30px;
  margin:10px;
  float: left;
}

.color-button {
  height: 30px;
}

#color-black{background-color: black;}
#color-red  {background-color: red;}
#color-green{background-color: green;}
#color-blue {background-color: blue;}
